/* headlines styling*/
h1{
  font-size: 55px;
  font-weight: bold;
}

h2{
    font-size: 25px;
    font-weight: bold;
}

h3{
    font-size: 20px;
}

/* body styling*/
body {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.top {
    background-color: #eee;
    padding: 65px;
}

.mid {
    padding-top: 15px;
    padding-bottom: 15px;
}

.container {
    padding: 20px;
}

.img {
width: 100%;
}

.card {
padding: 3px;
margin-left: 15px;
margin-right: 15px;
}

.card-text {
font-weight: bold;
font-size: 20px;
}

/* table styling*/
table.dataframe, .dataframe th, .dataframe td {
    text-align:left;
}
tr:hover            { background-color: #ffff99;}